.button {
    border: 1px solid black;
    min-width: 40px;
    border-radius: 10px;
    padding: 2px 5px;
    margin: 2px 4px;
}
.flex {
    display: flex;
    overflow: auto;
    /* remove scroll bar  */
}
.ul1 {
    padding: 2px 4px;
    list-style-type: none;
    max-height: 62vh;
    margin: 4px 4px;
    overflow: auto;
    /* remove scroll bar  */
}
.green{
    border: 2px solid rgb(0, 255, 0);
    background-color: rgb(89, 250, 89);
}
.red{
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 87, 87);
}
.yellow{
    border: 2px solid rgb(255, 255, 3);
    background-color: #fde060;
}
._grid {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    align-items: center;
    justify-items: start;
}
small {
    font-size: x-small;
}
.li_1 {
    margin: 12px 0px;
    padding: 8px 3px;
    border: 1px solid black;
}
.li_1:nth-child(2n){
    background-color: rgb(192, 188, 188);
}
h4,small {
    display: block;
    width: 85%;
    overflow: auto;
    /* remove scroll bar  */
}
#updatingHabit{
    display: none;
}
.close{
    color: red;
    cursor: pointer;
}
.label{
    padding: 9px;
}