.span{
    display: inline-block;
    margin: 5px 10px;
}
.a{
    padding: 5px 8px;
    background-color: blue;
    color:cyan;
}
#container{
    display: flex;
    margin: 10px 30px;
    overflow-x: auto;
    padding: 5px 8px;
    gap: 10px;
    /* scrollbar ki display none de  */
}

#addHabit {
    height: 65vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.habits {
    height: 80%;
    overflow: auto;
    list-style-type: none;
    margin-top: 40px;
    padding-left: 0px;
    /* scrollbar ki display none de  */
}
.habits::-webkit-scrollbar,#container::-webkit-scrollbar{
    display: none;
}
.add{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 5px;
    border: 1px solid black;
    padding: 0px 5px;
}
.addingHabit{
    display: none;
}
.close{
    color: red;
    cursor: pointer;
}
.label{
    padding: 9px;
}
.wrongRight{
    border: 1px solid black;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
}
.fa-circle-xmark {
    position: absolute;
    left: 10%;
    top: 10%;
    color: red;
}
.fa-circle-check {
    position: absolute;
    top: 10%;
    left: 10%;
    color: green;
}
.fa-circle {
    border: 0.2px solid black;
    border-radius: 50%;
    left: 5%;
    position: absolute;
    top: 7%;
    color: #ffdf56;
}
h3 {
    text-align: center;
    margin-top: 15px;
}
table {
    /* width: 99vw; */
    width: 100%;
    border: 1px solid;
}
tr {
    display: grid;
    grid-template-columns: 20% 25% 35% 20%;
}
td {
    overflow: auto;
    padding: 5px 3px;
    text-align: center;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    border-top: none;
    border-left: none;
}
th:last-child,td:last-child{
    border-right: none;
}
tbody tr:last-child td{
    border-bottom: none;
}
thead {
    position: sticky;
    background: aquamarine;
    top: -1px;
    z-index: 10;
}
.btn {
    border-radius: 22%;
    border: 1px solid black;
    min-width: 40px;
    max-height: 47px;
}
@media only screen and (max-width:281px) {
    table{
        width: 125vw;
    }
}
@media only screen and (min-width:540px) {
    main {
        margin: 10px 110px;
    }
}