#navBar {
    position: sticky;
    top: 0px;
}
.ul{
    background-color: aquamarine;
    list-style-type: none;
    padding: 10px 0px;
    text-align: center;
}
.li{
    display: inline-block;
    margin: 8px 20px;
}