* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.logsin {
    display: flex;
    gap: 20px;
}
.form2 {
    display: none;
}
.logsin :first-child {
    border-bottom: 3px solid blue;
}
h3 {
    padding-bottom: 5px;
    cursor: pointer;
}
@media only screen and (max-width:340px) {
    body {
        font-size: 12px;
    }
}