
<link rel="stylesheet" href="/css/calendar.css">
<script src="/js/calendar.js" defer></script>
<%- include('_navBarPartials')%>
    <h3>Habit Status</h3>
    <div id="detail"> Select correct habit </div>
    <div id="data0"> </div>
<table id="table" >
</table>