
<h2> All Habits will Show Here. </h2>

<div>

    <ul>

        <%for(let i=0; i<allHabits.length; i++){%>
            <li> <%=allHabits[i].habitTitle%> <small> <%=allHabits[i].habitDescription%> </small> </li>
        <%}%>

    </ul>

</div>